@import "tailwindcss";

@font-face {
    font-family: "Geist";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    font-optical-sizing: auto;
    src: url("/fonts/Geist-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Geist Mono";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    font-optical-sizing: auto;
    src: url("/fonts/GeistMono-VariableFont_wght.ttf");
}

html {
    font-family: "Geist", sans-serif;
}

code,
.code {
    font-family: "Geist Mono", monospace;
}
