@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-main: 'Manrope', sans-serif;
    --font-code: 'JetBrains Mono', monospace;
}

* {
    font-family: var(--font-main);
}

code,
.code {
    font-family: var(--font-code);
}

span {
    font-family: inherit;
}

.bg-image {
    background-image: url('../assets/bg.jpg');
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
